* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 5rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  height: 1200px;
  padding: 4rem;
  background-color: rgb(218, 198, 198);
  border: 3px solid black;
}
.box {
  width: 450px;
  height: 150px;
}
.box:first-child {
  background-color: dodgerblue;
  flex-shrink: 0;
}
.box:nth-child(2) {
  background-color: red;
  flex-grow: 1;
}
.box:nth-child(3) {
  background-color: gold;
}
.box:nth-child(4) {
  background-color: hotpink;
}
.box:last-child {
  background-color: blueviolet;
}
h1 {
  font-size: 1rem;
}
p {
  font-size: 3rem;
}
